@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'AvenirBlack';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/fonts/AvenirBlack.otf') format('otf');
}

@layer base {
  html {
    font-family: AvenirBlack, system-ui, sans-serif;
  }
}

@layer components {
  .btn {
    @apply font-AvenirBlack items-center justify-center px-5 flex font-extrabold rounded;
  }

  .default {
    @apply bg-primary text-sm text-secondary h-10;
  }

  .end {
    @apply bg-gray-100 h-10 text-secondary text-lg;
  }

  .default:hover {
    @apply text-white transition;
  }
}

.hero {
  background: rgba(49, 53, 91, 0.9);
}

.hero::before {
  content: '';
  background-image: url('/images/hero-car.webp');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.4;
}

.slick-prev,
.slick-next {
  display: block;
  position: absolute !important;
  z-index: 50;
  top: 50% !important;
  width: 5rem !important;
  height: 5rem !important;
}

.slick-prev {
  left: 0 !important;
}

.slick-next {
  right: 0 !important;
}

.slick-prev:before,
.slick-next:before {
  font-size: 2.5rem !important;
}

.slick-slide img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
